{extend name="layout/edit" /}
{block name="body"}
<form action="" method="post" class="form form-horizontal" id="main_form">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上级团队：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<span class="select-box" style="width:150px;">
				<select class="select valid" id='sltPid' name="pid" size="1" aria-required="true" aria-invalid="false">
					<option value="0">顶级团队</option>
					{volist name='nodes' id='item'}
					<option value="{$item.id}">&nbsp;&nbsp;{$item.title_show}</option>
					{/volist}
				</select>
				<label id="adminRole-error" class="error valid" for="adminRole"></label>
			</span>

		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">团队名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="names" cols="" rows="" class="textarea"  ></textarea>
		</div>
	</div>
	<div class="row cl slt_pid_0 diy_icon">
		<label class="form-label col-xs-4 col-sm-3">&nbsp;</label>
		<div class="formControls col-xs-8 col-sm-9">
			<p><span class="label label-warning radius">注意：</span>
				添加多个方式请用,号隔开 如：团队1,团队2,团队3
			</p>
		</div>
	</div>
	
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<button type="submit" class="btn btn-success radius"><i class="icon-ok"></i> 确定</button>
		</div>
	</div>
</form>
{/block}
{block name='js'}
<script type="text/javascript">
	$(function () {
		ajaxForm('#main_form');
	});
</script>
{/block}
