{include file="layout:_head" /}
<style type="text/css">
	body{
		background: #f8f8f8;
	}
	#nav_man{
		width: 100%;
		background-color: rgba(245,245,245,1);
		padding-bottom: 20px;
	}
	#nav_man_head{
		padding: 20px;
	}
	#nav_man_head_img{
		width: 84px;
		margin: 0px auto;
	}
	#nav_man_head_des{
		text-align: center;
	}
	.am-pagination{
		padding: 10px;
	}
	.am-icon-sign-out{
		color: #FF9599;
	}
	.am-footer{
		margin-top: 10px;
	}
	.am-footer-default{
		background-color:#f8f8f8;
	}
</style>
{block name="css"}{/block}
</head>
<body>
	{block name='header'}
	{include file="layout:_header" /}
	{/block}
	{block name='body'}{/block}
	{include file="layout:_footer" /}
	<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
		<div class="am-modal-dialog">
			<div class="am-modal-hd">Amaze UI</div>
			<div class="am-modal-bd">
				Hello world！
			</div>
			<div class="am-modal-footer">
				<span class="am-modal-btn">确定</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
	<script type="text/javascript">
		function my_alert(title,content,func) {
			$('#my-alert .am-modal-hd').text(title);
			$('#my-alert .am-modal-bd').text(content);
			$('#my-alert').modal({
				relatedTarget: this,
				onConfirm: function(e) {
					func(true);
				},
				onCancel: function(e) {
					func(false);
				}
			});
		}
	</script>
	{block name="js"}{/block}
</body>
</html>