{extend name="layout/list" /}
{block name="body"}
<style type="text/css">
	.text-c .form-label{
		padding-left: 5px;
		padding-right: 0px;
	}
	.text-c .formControls{
		padding-left: 0px;
		padding-right: 5px;
	}
	.text-c .row{
		margin-bottom: 5px;
	}
	.clearfix{clear: both;}
	pre{color: #60F;border: 1px solid #C6E0EE;}
	.swthiden,.dis-n{display: none;} 
</style>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray">  
		<span class="r">共有数据：<strong>{$pageInfo->total()}</strong> 条</span>
	</div>
	<table class="table table-border table-bordered table-hover table-bg table-sort dataTable no-footer" id="DataTables_Table_0" >
		<thead>
			<tr class="text-c" role="row">	 
				<th width="25" class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 25px;"><input type="checkbox" name="" value=""></th>
				<th class="col_1">技师预约号</th>
				<th class="col_2">类别(姓名)</th>
				<th class="col_3">以前预约时间</th>
				<th class="col_4">新预约时间</th>
				<th class="col_5">变更时间</th> 
			</tr>
		</thead>
		<tbody> 

			{volist name='pageInfo' id='item'}
			<tr class="text-c odd patient" role="row">  
				<td class="col_1">{$item.id}</td>  
				<td>张三</td>
				<td>2016-12-09</td>
				<td>2016-12-28</td>
				<td>2016-12-10 10:15:11</td>  
			</tr>

			{/volist}
		</tbody>
	</table> 
	{$pageInfo->render()} 
</div>
{/block}

</script>
{/block}