{extend name="layout/edit" /}
{block name="body"}
<style type="text/css">
	.form-label{
		padding: 0px;
	}
	label.error{
		top:0;
	}
</style> 
<form class="form form-horizontal" action="{:url('update')}" id="main_form" method="post">
	<input type="hidden" name='id' value="{$info.id}">
	<input type="hidden" name='customer_id' value="{$info.customer_id}">
	<div class="row cl">
		<label class="form-label col-xs-2"><span class="c-red">*</span>挂号类别：</label>
		<div class="formControls col-xs-4">
			<input type="text" class="input-text" value="{$info.name}" placeholder="挂号人姓名" name="name" datatype="*1-16" required  nullmsg="挂号人姓名不能为空" errormsg='挂号人姓名至少1个字符,最多16个字符！'/>
		</div>
		<label class="form-label col-xs-2">使用时间：</label>
		<div class="formControls col-xs-4">
			<input type="text" value="{$info.age}" class="input-text" placeholder="年龄" name="age" />
		</div>
		
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2">真实姓名：</label>
		<div class="formControls col-xs-4">
			<input type="text" class="input-text" value="{$info.zname}" placeholder="真实姓名" name="zname" />
		</div> 
	      				<label class="form-label col-xs-2"><span class="c-red"></span>顾客意向：</label>

		<div class="formControls col-xs-4">
			<span class="select-box">
				<select class="select" did='{$info.intention}' name="intention" id="intention">
					<option value="无">==请选择==</option>
					<option value="A（故障还未解决）" {$info.intention=="A（故障还未解决）"?'selected':''}>A（故障还未解决）</option>
					<option value="B（这两天安排时间）" {$info.intention=="B（这两天安排时间）"?'selected':''}>B（这两天安排时间）</option>
					<option value="C（在乎价格）" {$info.intention=="C（在乎价格）"?'selected':''}>C（在乎价格）</option>
					<option value="D（纠结官方售后）" {$info.intention=="D（纠结官方售后）"?'selected':''}>D（纠结官方售后）</option>
					<option value="E（距离太远）" {$info.intention=="E（距离太远）"?'selected':''}>E（距离太远）</option>
					<option value="F（想在当地维修，不方便）" {$info.intention=="F（想在当地维修，不方便）"?'selected':''}>F（想在当地维修，不方便）</option>
					<option value="G（正在出差）" {$info.intention=="G（正在出差）"?'selected':''}>G（正在出差）</option>
					<option value="H（不想维修）" {$info.intention=="H（不想维修）"?'selected':''}>H（不想维修）</option>
					<option value="I（未接挂断+接听挂断）" {$info.intention=="I（未接挂断+接听挂断）"?'selected':''}>I（未接挂断+接听挂断）</option>
					<option value="J（考虑邮寄）" {$info.intention=="J（考虑邮寄）"?'selected':''}>J（考虑邮寄）</option>
                  <option value="K（流失回访）" {$info.intention=="K（流失回访）"?'selected':''}>K（流失回访）</option>
                  <option value="L(疫情）" {$info.intention=="L(疫情）"?'selected':''}>L(疫情）</option>
                  <option value="M(暂时没有时间的)" {$info.intention=="M(暂时没有时间的)"?'selected':''}>M(暂时没有时间的)</option>
                  <option value="N(已维修的)" {$info.intention=="N(已维修的)"?'selected':''}>N(已维修的)</option>
				</select>
			</span>
		</div>
	</div>
	<div class="row cl">
		
		<label class="form-label col-xs-2">咨询人性别：</label>
		<div class="formControls col-xs-4  skin-minimal">
			<div class="radio-box"> 
				<input type="radio" value="1" name="gender" id="gender-1" /> 
				<label for="gender-1">男</label>
			</div>
			<div class="radio-box"> 
				<input type="radio" value="2" name="gender" id="gender-2" /> 
				<label for="gender-2">女</label>
			</div>
			<div class="radio-box">
				<input type="radio" value="0" name="gender" id="gender-3" /> 
				<label for="gender-3">保密</label>
			</div>
		</div>


		<label class="form-label col-xs-2"><span class="c-red">*</span>联系电话：</label>
		<div class="formControls col-xs-4">
			<input type="text"   class="input-text" value="{$info.mobile}" placeholder="联系电话" name="mobile" />
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2"><span class="c-red"></span>座机号码：</label>
		<div class="formControls col-xs-4">
			<input type="text" class="input-text" value="{$info.phone}" placeholder="座机号码" name="phone" />
		</div>
		<label class="form-label col-xs-2">预约时间：</label>
		<div class="formControls col-xs-4">
			<input type="text" class="input-text Wdate" value="{$info.yy_time}" placeholder="预约时间" name="yy_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2"><span class="c-red">*</span>品牌：</label>
		<div class="formControls col-xs-4">
			<span class="select-box">
				<select class="select" did='{$info.department_id}' name="department_id" id="sltDepartmentId">
					<option value="0">==请选择==</option>
				</select>
			</span>
		</div>
		<label class="form-label col-xs-2"><span class="c-red">*</span>故障类别：</label>
		<div class="formControls col-xs-4">
			<span class="select-box">
				<select class="select" did='{$info.disease_id}' name="disease_id" id="sltDiseaseId">
					<option value="0">==请选择==</option>
				</select>
			</span>
		</div>
		
	</div>


	<div class="row cl"> 
		<label class="form-label col-xs-2"><span class="c-red">*</span>来源媒体：</label>
		<div class="formControls col-xs-4">
			<span class="select-box">
				<select class="select" did='{$info.consultation_way_id}' name="consultation_way_id" id="sltConsultationWayId">
					<option value="0">==请选择==</option>
				</select>
			</span>
		</div>
		<label class="form-label col-xs-2">预约方式：</label>
		<div class="formControls col-xs-4">
			<span class="select-box">
				<select class="select" did='{$info.appointment_mode_id}' name="appointment_mode_id" id="sltConsultationWayIdd">
					<option value="0">==请选择==</option>
				</select>
			</span>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2">身份证：</label>
		<div class="formControls col-xs-4">
			<input type="text"   class="input-text" value="{$info.idcard}" placeholder="身份证" name="idcard" />
		</div>
		<label class="form-label col-xs-2">来店方式：</label>
		<div class="formControls col-xs-4">
			<span class="select-box">
				<select class="select" id="sltComeWayId" did='{$info.come_way_id}' name='come_way_id' >

				</select>
			</span>
		</div>

	</div>
	<div class="row cl">
	
<label class="form-label col-xs-2">门店：</label>
		<div class="formControls col-xs-4">
			<span class="select-box">
				<select class="select" name="shop_id">
					<option value="0">==请选择==</option>
					<option value="1" {$info.shop_id=="1"?'selected':''}>中环店</option>
					<option value="2" {$info.shop_id=="2"?'selected':''}>东方店</option>
					<option value="3" {$info.shop_id=="3"?'selected':''}>新世界店</option>
				</select>
			</span>
		</div>

		<label class="form-label col-xs-2">技师：</label>
		<div class="formControls col-xs-4">
			<span class="select-box">
				<select class="select" id='sltDoctorId' did='{$info.yy_doctor_id}'  name="yy_doctor_id" >
					<option value="0">==请选择==</option>
				</select>
			</span>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2">所属省份：</label>
		<div class="formControls col-xs-4">
			<span class="select-box">
				<select class="select" id="sltProvince" did='{$info.province_id}' name="province_id"  >

				</select>
			</span>
		</div>
		<label class="form-label col-xs-2">所在市区：</label>
		<div class="formControls col-xs-4">
			<span class="select-box">
				<select class="select" id="sltCity" did='{$info.city_id}' name="city_id">

				</select>
			</span>
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-2">详细地址：</label>
		<div class="formControls col-xs-4">
			<input type="text" class="input-text" value="{$info.address}" placeholder="详细地址" name="address" />
		</div>
		<label class="form-label col-xs-2">咨询客服：</label>
		<div class="formControls col-xs-4">
			{auth value='Can_you_add_another_customer_service_reservation_information'}
			<span class="select-box">
				<select class="select" did='{$info.custom_service_id}' name="custom_service_id" id="sltCustomServiceId">
				</select>
			</span>
			{else/}
			{$info.custom_service_name}
			{/auth}
		</div>
	</div>
	
	<div class="row cl">
		<label class="form-label col-xs-2">故障描述：</label>
		<div class="formControls col-xs-10">
			<textarea class="textarea" name="disease_desc">{$info.disease_desc}</textarea>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2">商务通信息：</label>
		<div class="formControls col-xs-10">
			<textarea class="textarea" name="swt" onblur="info(this)" id="zoos">{$info.swt}</textarea>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2">其他备注：</label>
		<div class="formControls col-xs-10">
			<textarea class="textarea" name="remark">{$info.remark}</textarea>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2">技师备注：</label>
		<div class="formControls col-xs-10">
			<textarea class="textarea" name="doctor_remark">{$info.doctor_remark}</textarea>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2">来源网站：</label>
		<div class="formControls col-xs-4">
			<span class="select-box">
				<select class="select" did='{$info.source_site_id}' name="source_site_id" id="sltSourceSiteId">
					<option value="0">==请选择==</option>
				</select>
			</span>

		</div>
		{eq name='info.status' value='3'}
		<label class="form-label col-xs-2">到店时间：</label>
		<div class="formControls col-xs-4">
			<input type="text" name="jz_time" class="input-text Wdate" value="{$info.jz_time|date='Y-m-d H:i',###}" placeholder="到院时间"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
		</div>
		{/eq}
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2">IP地址：</label>
		<div class="formControls col-xs-4">
			<input type="text" class="input-text" id='txtSourceIp' value="{$info.source_ip}" placeholder="IP地址" name="source_ip" />
		</div>
		<label class="form-label col-xs-2">状态：</label>
		<div class="formControls col-xs-4">
			<span class="select-box">
				{auth value='adjust_registered_status'}
				<select class="select" name="status" id="sltStatusId">
					<option selected="" value="1">登记</option>
					<option value="2">预约</option>
					<option value="3">到店</option>
					<option value="4">取消</option>
				</select>
				
				{else/}
				{eq name='info.status' value='1'}
				<select class="select" name="status" id="sltStatusId">
					<option selected="" value="1">登记</option>
					<option value="2">预约</option>
				</select>
				{else/}
				{$info.status_text}
				{/eq}
				{/auth}
			</span>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2">咨询页面：</label>
		<div class="formControls col-xs-4">
			<input type="text" class="input-text" value="{$info.source_consulting_page}" id="zpage" placeholder="咨询页面" name="source_consulting_page" />
		</div>
		<label class="form-label col-xs-2">搜索关键词：</label>
		<div class="formControls col-xs-4">
			<input type="text" class="input-text" value="{$info.source_search_keywords}" placeholder="搜索关键词" id='keyword' name="source_search_keywords" />
		</div>
	</div> 
	<div class="btn-group mt-50" style="text-align: center;">
		<button class="btn btn-primary radius">提交</button>    
	</div>
</form>
{/block}
{block name='js'}
{js href='/static/H-ui/lib/icheck/jquery.icheck.min.js'/}
{js href='__STATIC__H-ui/lib/My97DatePicker/WdatePicker.js'/}
{js href='__STATIC__H-ui/lib/Validform_v5.3.2_min.js'/}
{js href='/static/area.js'/}
{js href='/static/ajax.js'/}
<script type="text/javascript">
	$('#gender-{$info.gender}').attr('checked', 'true');
	function Items(id) {Frame('Site/Item.php?id='+id);}
	function City(id) {Frame('Site/City.php?id='+id);}
	function chkName(nm){ if(nm!='') Frame('Sick.Action.php?site=23&action=name&name='+nm);}
	function chkTel(nm){if(nm!='') Frame('Sick.Action.php?site=23&action=telck&tel='+nm);}
	function artName() { alert('此挂号顾客姓名已存在，是否继续提交挂号？');}
	function artTel()  { alert('此挂号电话号码已存在，是否继续提交挂号？');}
	function _(name,n) {if(n==undefined) n=0;return document.getElementsByName(name)[n];}
	function Frame(src){
		var Fr = document.createElement("iframe");
		Fr.src = src;
		document.body.appendChild(Fr);
	}
	function info(obj){
		if(obj.value!=''){
			var arr = String(obj.value).split('\n');
			for(line in arr){
				Set(arr[line],'当前网页','zpage');
				Sel(arr[line],'当前网页','sltSourceSiteId');
				Set(arr[line],'搜索引擎关键词','keyword');
				Set(arr[line],'IP:','txtSourceIp');
				Sel(arr[line],'来源网页','sltSourceId');
			}
		}
	}
	$('#sltStatusId').val('{$info.status}');
	function Get(id){return document.getElementById(id);}
	function Set(s,r,t){
		if(s.indexOf(r)!=-1)
			Get(t).value = s.replace(r,'').replace(':','').replace('：','').replace('\r','').split('?bdclkid')[0];
	}
	function Sel(s,r,o){
		if(s.indexOf(r)!=-1){
			var objItemValue = s.replace(r,'').replace(':','').replace('：','').replace('\r','').replace(/http:\/\//ig,'').replace(/https:\/\//ig,'');
			objItemValue = objItemValue.split('/')[0];
			var objSelect = Get(o);
			var isValue = false;
			for(var i=0;i<objSelect.options.length;i++){
				if(objSelect.options[i].text == objItemValue){
					objSelect.options[i].selected = true;
					isValue = true;
					break;
				}
			}
			if(!isValue){
				var url='{:url('bs.ajax/saveSource')}';
				if(o=='sltSourceSiteId'){
					url='{:url('bs.ajax/saveSite')}';
				}
				$.post(url, {'site': objItemValue}, function(data) {
					if(data.status==1){
						if(data.data.is_add){
							objSelect.options.add(new Option(data.data.name,data.data.id));
							objSelect.options[objSelect.options.length-1].selected = true;
						}else{
							console.info(data.data.id);
							$('#'+o).val(data.data.id);
						}
						isSub = false;
					}
				}); 
			}
		}
	}



	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$(function () {
		BS_Ajax.site($('#sltSourceSiteId'),true);
		BS_Ajax.source($('#sltSourceId'),true);
		BS_Ajax.customService($('#sltCustomServiceId'),true,function ($slt,data) {
			if(data.length==1){
				var pspan=$slt.parent();
				var pdiv=pspan.parnet();
				pspan.remove();
				pdiv.append('<input type="hidden" name="custom_service_id" value="'+data[0].id+'" /><span>'+data[0].name+'</span>');
			}
		});
		BS_Ajax.doctor($('#sltDoctorId'),true);
		BS_Ajax.depDisease($('#sltDepartmentId'),$('#sltDiseaseId'),true);
		BS_Ajax.depconsultationWay($('#sltConsultationWayId'),$('#sltConsultationWayIdd'),true);
		BS_Ajax.comeWay($('#sltComeWayId'),true);
		ajaxForm2("#main_form");
	});
	var ajaxForm2=function(slt,fuc){
		if(fuc==undefined||fuc==null){
			fuc=close_win;
		}
		$(slt).Validform({
			'tiptype':function(msg,o,cssctl){
				if(o.obj.siblings(".Validform_checktip").length==0){
					o.obj.parent().append('<label class="Validform_checktip error">'+msg+'</label>');
				}else{
					o.obj.siblings(".Validform_checktip").html(msg);
				}
				cssctl(o.obj.siblings(".Validform_checktip"),o.type);
			},
			'postonce':true,
			'ajaxPost':true,
			beforeSubmit:function(curform){
				if ($('#sltSourceId').val()==0) {
					alert('请选择来源媒体');
					return false;
				} 
			},
			callback:function(d){
				if(d.status==1){
					alert_success(d.info,fuc);
				}else{
					alert_error(d.info);
				}
				return false;
			}
		});
	}
BsArea($('#sltProvince'),$('#sltCity'));//绑定地区
</script>
{/block}