{extend name="layout/list" /}
{block name="body"}
<style type="text/css">
	.text-c .form-label{
		padding-left: 5px;
		padding-right: 0px;
	}
	.text-c .formControls{
		padding-left: 0px;
		padding-right: 5px;
	}
	.text-c .row{
		margin-bottom: 5px;
	}
	.swthiden,.dis-n{display: none;} 
</style>
<div class="text-c"> 
	<form method="get" id='formQuery' >
		<div class="pb-20" style="clear: both;">
			<input type="text" class="input-text" value="{:input('kw')}" style="width:300px" placeholder="输入用户名称、电话、预约号" name="kw">
			<button type="submit" class="btn btn-success radius"  ><i class="Hui-iconfont"></i> 搜一搜</button>
		</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray"> 
		<span class="r">共有数据：<strong>{$pageInfo->total()}</strong> 条</span>
	</div>
	<table class="table table-border table-bordered table-hover table-bg table-sort dataTable no-footer" id="DataTables_Table_0" >
		<thead>
			<tr class="text-c" role="row">	 
				<th width="25" class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 25px;"><input type="checkbox" name="" value=""></th>
				<th class="col_1">技师预约号</th>
				<th class="col_2">类别（姓名）</th>
				<th class="col_3">咨询人性别</th>
				<th class="col_4">使用时间</th>
				<th class="col_5">电话</th>
				<th class="col_6">品牌</th>
				<th class="col_7">故障类型</th>
				<th class="col_8">预约技师</th>
				<th class="col_9">来源媒体</th>
				<th class="col_9">预约方式</th>
				<th class="col_11">登记时间</th>
				<th class="col_15">会员</th>
				<th class="col_17">操作</th>
			</tr>
		</thead>
		<tbody> 

			{volist name='pageInfo' id='item'}
			<tr class="text-c odd patient" role="row"> 
				<td><input type="checkbox" value="" name=""></td>
				<td class="col_1">{$item.id}({$item.old_id})</td>
				<td>{$item.name|default='无'}</td>
				<td>
					{switch name="item.gender"}
					{case value="1"}男{/case}
					{case value="2"}女{/case}
					{default/}保密
					{/switch}
				</td>
				<td>{$item.age|default='未知'}</td>
				<td>
					{auth value='reservation_list_phone_number_display'}
					{$item.mobile}
					{else/}
					{$item.mobile|hidtel}
					{/auth}
				</td>
				<td >
					{gt name="item.department_id" value="0"}
					<a class="btn-link" onclick="event.stopPropagation();" href="{:url('')}?department_id={$item.department_id}">{$item.department_name|default='无'}</a>
					{else/}
					{$item.department_name|default='无'}
					{/gt}
				</td>
				<td >
					{gt name="item.disease_id" value="0"}
					<a class="btn-link" onclick="event.stopPropagation();" href="{:url('')}?bz_id={$item.disease_id}">{$item.disease_name|default='无'}</a>
					{else/}
					{$item.disease_name|default='无'}
					{/gt}
				</td>
				<td >
					{gt name="item.yy_doctor_id" value="0"}
					<a class="btn-link" onclick="event.stopPropagation();" href="{:url('')}?ys_id={$item.yy_doctor_id}">{$item.yy_doctor_name|default='无'}</a>
					{else/}
					{$item.yy_doctor_name|default='无'}
					{/gt}
				</td>
				<td >
					<a class="btn-link" onclick="event.stopPropagation();" href="{:url('')}?way_id={$item.consultation_way_id}">{$item.way_name}</a>
				</td>
				<td >
					<a class="btn-link" onclick="event.stopPropagation();" href="{:url('')}?ly_id={$item.source_id}">{$item.source_name|default='无'}</a>
				</td>
				<td >
					<a href="javascript:ct_time('{$item.create_time|date='Y-m-d',###}');" class="btn-link" onclick="event.stopPropagation();">
						{$item.create_time|date='Y-m-d H:i',###}
					</a>
				</td>
				<td>{$item.member_name|default='无'}（{$item.card_no|default='无'}）</td>
				<td class="f-14" onclick="event.stopPropagation();"> 
					<a class='label btn-primary radius' onclick="receive('{$item.id}');">确定领取</a>
				</td>
			</tr>
			<tr class="dis-n">
				<td  colspan="100" style="padding:5px 50px;">
					挂号姓名：{$item.name|default='无'} |
					故障类型：{$item.department_name|default='无'} {$item.disease_name|default='无'}|
					来源媒体： {$item.source_name|default='无'}|
					搜索关键词：{$item.source_search_keywords|default='无'} |
					来店方式：{$item.come_way_name|default='无'} | 
					所在省市：{$item.province_name|default='无'} {$item.city_name} |
					联系地址： {$item.address|default='无'} |
					<br/> 
					挂号时间：{$item.create_time|date='Y-m-d H:i',###} | 预约到店时间：{$item.yy_time|substr=0,16}<br/>
					故障类型：
					<pre>{$item.disease_desc|default='无'}</pre>
					其他备注：{$item.remark|default='无'}<br/>
					技师备注：{$item.doctor_remark|default='无'}<br/>
					客户回访：<br/>
					提交IP：{$item.input_ip} | 来源网站：<a href="{$item.site_url}">{$item.source_site_name}</a><br/>
					顾客IP：{$item.source_ip|default='无'} | 咨询页面：<a href="{$item.source_consulting_page}">{$item.source_consulting_page|default='无'}</a><br/>
				</td>
			</tr>
			{/volist}
		</tbody>
	</table>

	{$pageInfo->render()} 
</div>

{/block}
{block name='js'}
<script type="text/javascript">
	/*用户-角色-删除*/
	function admin_role_del(obj,id){
		common_opt('数据删除须谨慎，确认要删除吗？',id,"{:url('delete')}");

	}
	//领取
	function receive(id) {
		common_opt('确定要领取吗？',id,"{:url('receive')}");
		event.stopPropagation(); 
	}
	$('.patient').click(function(event) {   
		var _div=$(this).next();
		$('.dis-n').not(_div).hide();
		_div.toggle();  
	});
</script>
{/block}