{extend name="layout/list" /}
{block name="body"}
<form class="form form-horizontal">
	<div class="row cl">
		<label class="form-label col-xs-2"><span class="c-red">*</span>挂号人姓名：</label>
		<div class="formControls col-xs-4">
			<label >{$tel|hidtel}</label>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-2"><span class="c-red">*</span>短信内容：</label>
		<div class="formControls col-xs-10">
			<textarea class="textarea" onblur="info(this)" required id="zoos"></textarea>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
</form>
{/block}
{block name='js'}
<script type="text/javascript">
	$('.breadcrumb').hide();
</script>
{/block}