<header data-am-widget="header"
class="am-header am-header-default">
<div class="am-header-left am-header-nav">
	<a href="javascript:openPage(0);" class="">
		<i class="am-header-icon am-icon-home"></i>
	</a>
</div>
<h1 class="am-header-title">
	<a href="#title-link" class="">
		{$page_title|default=""}
	</a>
</h1>
<div class="am-header-right am-header-nav">
	<a href="{:url('passport/logout')}" class="">
		<i class="am-header-icon am-icon-sign-out"></i>
	</a>
</div>
</header>
<!-- 
<div id="demo-view" data-backend-compiled>
	<nav data-am-widget="menu" class="am-menu am-menu-dropdown1" data-am-menu-collapse>
		<a href="javascript: void(0)" class="am-menu-toggle"></a>
		<div id="nav_man" class="am-menu-nav am-avg-sm-1 am-collapse">
			<div id="nav_man_head">
				<div id="nav_man_head_img">
					<img width="100%" class="am-img-thumbnail am-circle" src="/static/wap/avatar/avatar5.png">
				</div>
				<div id="nav_man_head_des">
					<span>流氓</span>&nbsp;&nbsp;
					<span class="am-badge am-badge-danger am-round">￥620</span><br/>
					<span><i class="am-icon-credit-card" aria-hidden="true">：</i>4245624</span><br/>
					&nbsp;<span><i class="am-icon-phone" aria-hidden="true">：</i>13800000000</span><br/>
				</div>
			</div>
			<ul class="am-list am-list-static am-list-border">
				<li>
					<a href="{:url('')}">
						<i class="am-icon-calendar-check-o" aria-hidden="true"></i>&nbsp;预约挂号
					</a>
				</li>
				<li>
					<a href="{:url('')}">
						<i class="am-icon-sticky-note-o" aria-hidden="true"></i>&nbsp;登录日志
					</a>
				</li>
				<li>
					<a href="{:url('')}">
						<i class="am-icon-calendar-minus-o" aria-hidden="true"></i>&nbsp;充值记录
					</a>
				</li>
				<li>
					<a href="{:url('')}">
						<i class="am-icon-calendar-plus-o" aria-hidden="true"></i>&nbsp;消费日志
					</a>
				</li>
			</ul>
		</div>
		
	</nav>
</div>
 -->