{extend name="layout/edit" /}
{block name="body"}
<style type="text/css">  
	.mplan{padding: 10px 30px;}
	.mplan span{color: red;font-weight: bold;margin-right: 15px;font-size: 16px;}
</style> 
<div class="panel panel-success mt-20">
	<div class="panel-header">会员卡信息</div>
	<div class="panel-body">
		<form action="" class="form form-horizontal" id="fmember">
			<div class="row cl">
				<label class="form-label f-l"  style="margin-left:30px;">卡号：</label>
				<div class="f-l" style="display:block">
					<input type="text" id="mcard" readonly="true" class="input-text f-l" style="width:200px;" value="{$info.card_no}" >
				
				</div>
			</div>
		</form>

		<div class="mplan">
			姓名：<span id="mname">{$info.name}</span>
			通用金额：<span id="myue" data-m='0'>{$info.balance}</span>
			门诊余额：<span id="mzye" data-m='0'>{$info.mz_money}</span>
			住院余额：<span id="zyye" data-m='0'>{$info.zy_money}</span>
			 
		</div>
		
	</div> 
</div>
<div class="panel panel-secondary ">
	<div class="panel-header">充值明细</div>
	<div class="panel-body">
		<div class="page-container">
			<form action="" class="form form-horizontal" id="Charge">
				<input type="hidden" name="update_time" id="update_time" value="{$info.update_time}">
				<input type="hidden" name="card_no" id="card_no" value="{$info.card_no}">
				<div class="row cl">
					<label class="form-label f-l" style="width:100px">通用充值：</label>
					<div class="formControls f-l" style="width:150px;">
						<input type="text" class="input-text" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" name="money" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label f-l" style="width:100px">门诊费充值：</label>
					<div class="formControls f-l" style="width:150px;">
						<input type="text" class="input-text" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" name="mz_money" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label f-l" style="width:100px">住院费充值：</label>
					<div class="formControls f-l" style="width:150px;">
						<input type="text" class="input-text" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" name="zy_money" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label  f-l" style="width:100px">备注：</label>
					<div class="formControls  f-l"  style="width:250px;">
						<textarea name="memo" cols="" rows="" class="textarea" placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onkeyup="textarealength(this,200)"></textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
					</div>
				</div>
				<div class="row cl"> 
					<button onclick="article_save();" style="margin-left:100px;" class="btn btn-success radius" type="button">确认充值</button>
				</div>
			</form>
		</div>
	</div>
</div> 
{/block}
{block name='js'}
<script type="text/javascript"> 
	function article_save() {
		var boo=false;
		$.each($('#Charge input'), function(i, itm) {
			if ($(itm).val()!='') {boo=true;};
		});
		if (boo) {
			$.post('{:url('recharge')}', $('#Charge').serialize(), function(data) {
				if (data.status==1) {
					alert_success(data.info,function(){
						close_win();
					});
				}else{
					alert_error(data.info);
				}
			});
		};
		return false;
	}
	
</script>
{/block}