{extend name="layout/list" /}
{block name="body"}
<style type="text/css">
	.page-container,table th,.table td{text-align: center;font-size: 15px;} 
	table a{font-size: 18px;color: red;} 
	.HuiTab{display: inline-block;} 
	.mc{margin: 0 auto;}
</style>
<div class="page-container">
	<div class="text-c"> 
		<form action="" method="get">
			<span class="select-box" style="width:150px">
				<select class="select" id='sltYear' name="year" size="1">
					<?php for ($i=date('Y'); $i > date('Y')-10; $i--) { 
					?>
					<option value="{$i}">{$i}年</option>
					<?php }  ?>
				</select>
			</span>
			
			<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont"></i> 查看数据</button>
		</form>
	</div>
	<table class="table table-border table-bordered mc" style="width:715px;">
		<tr>
			<th>月</th>
			<th>登记</th>
			<th>预约</th>
			<th>到店</th>
			<th>未到</th>
			<th>到店率</th>
		</tr>
		{volist name='lis' id='item'}
		<tr>
			<td>{$key}月</td>
			<td>{$item.dj|default='0'}</td>
			<td>{$item.yy|default='0'}</td>
			<td>{$item.dz|default='0'}</td>
			<td>{$item.yy-$item.dz}</td>
			<td>{gt name='item.yy' value='0'}{$item['dz']*100/$item['yy']|round=2}%
				{else/}0.00%
				{/gt}
			</td>
		</tr>
		{/volist}
	</table>
</div>
{/block}
{block name='js'}
<script type="text/javascript">
	$('#sltYear').val('{:input('year',date('Y'))}');
</script>
{/block}