{extend name="layout/list" /}
{block name="body"}
<style type="text/css"> 
.bjc{background-color: #ddd;font-weight: 800;color: red;}
</style>
<div class="page-container">
	{volist name='lis' id='d'}
	<div class="col-md-3 sort mt-20"> 
		<table class="table table-border table-bordered">
			<tr>
				<td class="bjc">{$d.name}</td>
				<td>登记</td>
				<td>预约</td>
				<td>到店</td>
				<td>未到</td>
			</tr>
			<tr>
				<td>今天：</td>
				<td>{$d.d.dj|def='0'}</td>
				<td>{$d.d.yy|def='0'}</td>
				<td>{$d.d.dz|def='0'}</td>
				<td>{$d.d.yy-$d.d.dz}</td>
			</tr>
			<tr>
				<td>昨天：</td>
				<td>{$d.zt.dj|def='0'}</td>
				<td>{$d.zt.yy|def='0'}</td>
				<td>{$d.zt.dz|def='0'}</td>
				<td>{$d.zt.yy-$d.zt.dz}</td>
			</tr>
			<tr>
				<td>本周：</td>
				<td>{$d.bz.dj|def='0'}</td>
				<td>{$d.bz.yy|def='0'}</td>
				<td>{$d.bz.dz|def='0'}</td>
				<td>{$d.bz.yy-$d.bz.dz}</td>
			</tr>
			<tr>
				<td>本月：</td>
				<td>{$d.by.dj|def='0'}</td>
				<td>{$d.by.yy|def='0'}</td>
				<td>{$d.by.dz|def='0'}</td>
				<td>{$d.by.yy-$d.by.dz}</td>
			</tr>
			<tr>
				<td>上月：</td>
				<td>{$d.sy.dj|def='0'}</td>
				<td>{$d.sy.yy|def='0'}</td>
				<td>{$d.sy.dz|def='0'}</td>
				<td>{$d.sy.yy-$d.sy.dz}</td>
			</tr>
		</table>
	</div>
	{/volist}
	
</div>
{/block}