{extend name="layout/base" /}
{block name='body'}
<style type="text/css">
	.am-tabs-nav{
		display: none;
	}
	.am-tabs{
		min-height: 300px;
	}
	.am-tabs-bd{
		border: none;
	}
	.boxes{
		text-align: center;
		background: #fff;
		padding: 10px;
	}

	#nav_man_head{
		background: #fff;
		margin-bottom: 5px;
	}
	.am-tabs-bd .am-tab-panel{
		padding: 0px;
		background: #fff;
	}
	.am-tabs-bd .am-list{
		padding: 10px;
	}
	.boxes .box,.am-comments-list{
		padding: 10px;
	}
	
	.tjlist{
		font-size: 12px;
		background: #fff;
		margin-top: 5px;
	}
	.tjtitle{
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		display: block;
	}
</style>

<div class="am-tab-panel am-fade am-in am-active">
	<div id="nav_man_head">
		<div id="nav_man_head_img">
			<img width="100%" class="am-img-thumbnail am-circle" src="/static/wap/avatar/avatar5.png">
		</div>
		<div id="nav_man_head_des">
			<span>{$mInfo.name}</span>
			<span>{$mInfo.mobile}</span>
		</div>
	</div>
	<ul class="am-avg-sm-3 boxes">
		<li class="box box-3"  onclick="location.href='{:url('member')}'">
			<img src="/static/wap/guahao.png" alt="">
			<div>会员信息</div>
		</li>
		<li onclick="location.href='{:url('cwbb')}';" class="box box-1">
			<img src="/static/wap/recharge_log.png" alt="">
			<div>财务报表</div>
		</li>
		<!-- <li onclick="openPage(2);" class="box box-2">
			<img src="/static/wap/charge_log.png" alt="">
			<div>消费统计</div>
		</li> -->
	</ul>
</div>
<div class="tjlist">
	<span class="tjtitle">新增会员数</span>
	<table class="am-table am-table-bordered">
		<thead>
			<tr>
				<th>医院</th>
				<th>今天</th>
				<th>本周</th>
				<th>本月</th>
				<th>所有</th>
			</tr>
		</thead>
		<tbody>
			{volist name='tjlis' id='item'}
			<tr>
				<th>{$item.short_name}</th>
				<td>{$item.d|def='0'}</td>
				<td>{$item.w|def='0'}</td>
				<td>{$item.m|def='0'}</td>
				<td>{$item.a|def='0'}</td>
			</tr>
			{/volist}
		</tbody>
	</table>
</div>
{/block}
{block name="js"}

{/block}
