{extend name="layout/base" /}
{block name='header'}
<header data-am-widget="header" class="am-header am-header-default">
	<div class="am-header-left am-header-nav">
		<a href="javascript:history.go(-1)" class="">
			<i class="am-header-icon am-icon-reply"></i>
		</a>
	</div>
	<h1 class="am-header-title">
		<a href="#title-link" class="">
			{$page_title|default=""}
		</a>
	</h1>
	<div class="am-header-right am-header-nav">
		<a href="{:url('passport/logout')}" class="">
			<i class="am-header-icon am-icon-sign-out"></i>
		</a>
	</div>
</header>
{/block}
{block name='body'}
<style type="text/css">
	.tcontent{
		padding: 10px;
		background-color: #fff;
	}
	.tcontainer{
		
		margin-top: 10px;
	}
	.tcontainer hr{
		margin: 0px;
		border-top: 1px solid #3bb4f2;
	}
	.ttitle{
		display: inline-block;
		padding: 5px 5px 0px 5px;
		background-color: #3bb4f2;
		color: #fff;
	}
	.am-list>li>.am-badge {
		float: none;
	}
</style>
<div class="tcontainer">
	<div class="ttitle">基础信息</div>
	<hr/>
	<div class="tcontent">
		<div class="am-g">
			<label>姓名：</label>{$info.name}
		</div>
		<div class="am-g">
			<label>电话：</label>{$info.phone}
		</div>
		<div class="am-g">
			<label>会员卡：</label>{$info.card_no}
		</div>
		<div class="am-g">
			<label>性别：</label>{switch name="info.gender"}
			{case value="1"}男{/case}
			{case value="2"}女{/case}
			{default/}保密
			{/switch}
		</div>
		<div class="am-g">
			<label>发卡单位：</label>{$info.hname}
		</div>
		<div class="am-g">
			<label>余额：</label>￥{$info.balance}
		</div>
		<div class="am-g">
			<label>门诊余额：</label>￥{$info.mz_money}
		</div>
		<div class="am-g">
			<label>住院余额：</label>￥{$info.zy_money}
		</div>
		
	</div>
</div>
<div class="tcontainer">
	<div class="ttitle">交易记录</div>
	<hr/>
	<div class="tcontent">
		<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
			<div class="am-list-news-bd">
				<ul class="am-list">
					{volist name='info.log' id='item'}
					<li class="am-g am-list-item-dated">
						{eq name='item.direction' value='1'}
						通用：<span class="am-badge am-badge-danger am-round">-￥{$item.money|def='0.00'}</span><br/>
						门诊：<span class="am-badge am-badge-danger am-round">-￥{$item.mz_money|def='0.00'}</span><br/>
						住院：<span class="am-badge am-badge-danger am-round">-￥{$item.zy_money|def='0.00'}</span>
						{else/}
						通用：<span class="am-badge am-badge-success am-round">+￥{$item.money|def='0.00'}</span><br/>
						门诊：<span class="am-badge am-badge-success am-round">+￥{$item.mz_money|def='0.00'}</span><br/>
						住院：<span class="am-badge am-badge-success am-round">+￥{$item.zy_money|def='0.00'}</span>
						{/eq}
						<span class="am-list-date">{$item.create_time|date='Y-m-d',###}</span>
					</li>
					{/volist}
				</ul>
			</div>
		</div>
	</div>
</div>
<button type="button" onclick="history.go(-1);" class="am-btn am-btn-default am-btn-block">返&nbsp;回</button>
{/block}
{block name="js"}
{/block}
