{extend name="layout/base" /}
{block name='body'}
<style type="text/css">
	.am-list-news-default{
		margin:10px 0px;
		padding:10px;
		background-color: #fff;
	}
</style>
<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
	<!--列表标题-->
	<div class="am-list-news-hd am-cf">
		<form method="get">
			<div class="am-input-group">
				<input type="text" name="kw" placeholder="会员名称/卡号/手机号" class="am-form-field">
				<span class="am-input-group-btn">
					<button class="am-btn am-btn-default" type="submit">
						<span class="am-icon-search"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
	<div class="am-list-news-bd">
		<ul class="am-list">
			{volist name='pageInfo' id='item'}
			<li class="am-g am-list-item-dated">
				<a href="{:url('member_detail?id='.$item['id'])}" class="am-list-item-hd ">{$item.name}&nbsp;&nbsp;&nbsp;<span class="am-badge am-badge-success am-round">{$item.hshort_name}</span></a>
				<span class="am-list-date">{$item.create_time|date='Y-m-d',###}</span>
			</li>
			{/volist}
		</ul>
	</div>
</div>
{$pageInfo->render()}
{/block}
{block name="js"}
{/block}
