{extend name="layout/base" /}
{block name='body'}
<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
	<!-- <div class="am-list-news-hd am-cf">
		<a href="##" class="">
			<h2>栏目标题</h2>
			<span class="am-list-news-more am-fr">更多 &raquo;</span>
		</a>
	</div> -->

	<div class="am-list-news-bd">
		<ul class="am-list">
			{if condition='$lis and count($lis)>0'}
			{volist name='lis' id='vo'}
			<li class="am-g am-list-item-dated">
				<a href="#" class="am-list-item-hd ">充值了{$vo.money}元。</a>
				<span class="am-list-date">{$vo.create_time|date='Y-m-d',###}</span>
			</li>
			{/volist}
			{else/}
			<center>暂无记录(*＾-＾*)</center>
			{/if}
		</ul>
	</div>
</div>
<!-- <ul class="am-pagination">
	<li class="am-pagination-prev"><a href="">&laquo; 上一页</a></li>
	<li class="am-pagination-next"><a href="">下一页 &raquo;</a></li>
</ul> -->
{/block}
