{extend name="layout/edit" /}
{block name="body"}
<style type="text/css">
	.form-label{
		padding: 0px;
	}
	label.error{
		top:0;
	}
</style>
<form class="form form-horizontal " action="{:url('save')}" id="main_form" method="post">
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-header">会员级别信息</div>
			<div class="panel-body">
				<div class="row cl">
					<label class="form-label col-xs-2">姓名：<span class="c-red">*</span></label>
					<div class="formControls col-xs-4">
						<input type="text" class="input-text" placeholder="姓名" name="name" datatype="*2-16" required  nullmsg="姓名不能为空" errormsg='姓名至少2个字符,最多16个字符！'/>
					</div>
					<label class="form-label col-xs-2">联系电话：<span class="c-red">*</span></label>
					<div class="formControls col-xs-4">
						<input type="text" class="input-text" placeholder="联系电话" name="phone" datatype="m" nullmsg="联系电话不能为空" required/>
					</div>
				</div>
				<div class="row cl"> 
					<label class="form-label col-xs-2">性别：</label>
					<div class="formControls col-xs-4  skin-minimal">
						<div class="radio-box">
							<input type="radio" value="1" name="gender" id="gender-1" checked>
							<label for="gender-1">男</label>
						</div>
						<div class="radio-box">
							<input type="radio" value="2" name="gender" id="gender-2" >
							<label for="gender-2">女</label>
						</div> 
					</div> 
					<label class="form-label col-xs-2">年龄：</label>
					<div class="formControls col-xs-4">
						<input type="text" class="input-text" placeholder="年龄" name="age" />
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-2">身份证：</label>
					<div class="formControls col-xs-4">
						<input type="text" class="input-text" placeholder="身份证" name="idcard" />
					</div>
					<!-- <label class="form-label col-xs-2">会员类型：</label>
					<div class="formControls col-xs-4">
						<span class="select-box">
							<select class="select">
								<option>普通会员</option>
								<option>中级会员</option>
							</select>
						</span>
					</div> -->
				</div>

				<div class="row cl">
					<label class="form-label col-xs-2">所属省份：</label>
					<div class="formControls col-xs-4">
						<span class="select-box">
							<select class="select" id="sltProvince" name="province_id"  >

							</select>
						</span>
					</div>
					<label class="form-label col-xs-2">所在市区：</label>
					<div class="formControls col-xs-4">
						<span class="select-box">
							<select class="select" id="sltCity" name="city_id">

							</select>
						</span>
					</div>
				</div>

				<div class="row cl">
					<label class="form-label col-xs-2">详细地址：</label>
					<div class="formControls col-xs-10">
						<input type="text" class="input-text" value="" placeholder="详细地址" name="address" />
					</div>
					
				</div>

				<div class="row cl">
					<label class="form-label col-xs-2">备注：</label>
					<div class="formControls col-xs-10">
						<textarea class="textarea" name="remark"></textarea>
					</div>
				</div>

			</div>
		</div>
		
	</div>
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-header">发卡信息</div>
			<div class="panel-body">
				<div class="row cl">
					<label class="form-label col-xs-2">卡号：</label>
					<div class="formControls col-xs-4">
						<input type="text" class="input-text" value="" placeholder="卡号" name="card_no" id="code" />
					</div>
					<label class="form-label col-xs-2">密码：</label>
					<div class="formControls col-xs-4">
						<input type="password" class="input-text" id="code-pw" placeholder="密码" name="pass"/>
					</div>
				</div>
				<div class="row cl">
					
					<label class="form-label col-xs-2">确认密码：</label>
					<div class="formControls col-xs-4">
						<input type="password" class="input-text" id="code-pw2" placeholder="确认密码" />
					</div>
					<label class="form-label col-xs-2">通用金额：</label>
					<div class="formControls col-xs-4">
						<input type="text" value="0" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" class="input-text" value="" placeholder="通用金额" name="balance"/>
					</div>
				</div>
				<div class="row cl">
					
					<label class="form-label col-xs-2">门诊金额：</label>
					<div class="formControls col-xs-4">
						<input type="text" value="0" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" class="input-text" name="mz_money" placeholder="门诊金额" />
					</div> 
					<label class="form-label col-xs-2">住院金额：</label>
					<div class="formControls col-xs-4">
						<input type="text" value="0" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" class="input-text" value="" placeholder="住院金额" name="zy_money"/>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-2">账户积分：</label>
					<div class="formControls col-xs-4">
						<input type="text" value="0" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')"  name="integral"  class="input-text" placeholder="账户积分"   />
					</div>
					<label class="form-label col-xs-2">有效日期：</label>
					<div class="formControls col-xs-4">
						<input type="text" class="input-text" class="input-text Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="2020-12-30"   name="effective_data"/>
					</div> 
				</div>
				
			</div>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2 text-c mt-20"> 
			<button id="btnSubmit" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont"></i> 保存</button> 
		</div>
	</div>
</form>
{/block}
{block name='js'}
{js href='/static/H-ui/lib/icheck/jquery.icheck.min.js'/}
{js href='__STATIC__H-ui/lib/My97DatePicker/WdatePicker.js'/}
{js href='__STATIC__H-ui/lib/Validform_v5.3.2_min.js'/}
{js href='/static/area.js'/}
{js href='/static/ajax.js'/}
<script type="text/javascript">

	$('#code').keydown(function(event) {
		var e = event || window.event || arguments.callee.caller.arguments[0]; 
		if(e && e.keyCode==13){  
			$.post('{:url('check_code')}', {'code': $(this).val()}, function(data) {
				if(data.status==1){
					$('#code-pw').focus();
				}else{
					alert_error(data.info);
				}
			}); 
			e.stopPropagation();
			return false; 
		}
	});
	$('#code-pw').keydown(function(event) {
		var e = event || window.event || arguments.callee.caller.arguments[0]; 
		if(e && e.keyCode==13){  
			$('#code-pw2').focus();
			e.stopPropagation();
			return false; 
		}

	});
	$('#code-pw2').keydown(function(event) {
		var e = event || window.event || arguments.callee.caller.arguments[0]; 
		if(e && e.keyCode==13){  
			if ($('#code-pw2').val()!==$('#code-pw').val()) {
				alert_error('两次密码输入不同');
				return false;
			};
		}
	});
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	BsArea($('#sltProvince'),$('#sltCity'));
	$('#btnSubmit').click(function(event) {
		$('#main_form').submit();
	});
	ajaxForm("#main_form");
</script>
{/block}