{extend name="layout/list" /}
{block name="body"}
<style type="text/css">
	.page-container,table th,.table td{text-align: center;font-size: 15px;} 
	table a{font-size: 18px;color: red;} 
	.HuiTab{display: inline-block;} 
	.mc{margin: 0 auto;}
</style>
<div class="page-container">
	<center><h3>新增会员统计数据</h3></center>
	<br/>
	<table class="table table-border table-bordered mc" style="width:715px;">
		<tr>
			<th>地域名称</th>
			<th>今日</th>
			<th>近7天</th>
			<th>本周</th>
			<th>上周</th>
			<th>本月</th>
			<th>上月</th>
			<th>今年</th>
			<th>所有</th>
		</tr>
		{volist name='lis' id='item'}
		<tr>
			<td>{$item.name}</td>
			<td>{$item.d|def='0'}</td>
			<td>{$item.d7|def='0'}</td>
			<td>{$item.w|def='0'}</td>
			<td>{$item.lw|def='0'}</td>
			<td>{$item.m|def='0'}</td>
			<td>{$item.lm|def='0'}</td>
			<td>{$item.y|def='0'}</td>
			<td>{$item.a|def='0'}</td>
		</tr>
		{/volist}
	</table>
</div>
{/block}
{block name='js'}
<script type="text/javascript">
	$('#sltYear').val('{:input('year',date('Y'))}');
</script>
{/block}