{extend name="layout/list" /}
{block name="body"}
<style type="text/css">
	.color1{color: red;}
	.color2{color: #19a97b;}  
</style>
<div class="page-container">
	<form method="get">
		<div class="text-c"> 
			{literal}
			日期范围：
			<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'txt_search_datemax\')||\'%y-%M-%d\'}'})" id="txt_search_datemin" class="input-text Wdate" name="sdate" style="width:120px;"> - <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'txt_search_datemin\')}',maxDate:'%y-%M-%d'})" id="txt_search_datemax" class="input-text Wdate" style="width:120px;" name="edate" >
			{/literal}
			<input type="text" name="kw" id="txt_search_kw" placeholder="会员名称/卡号/手机号" style="width:250px" class="input-text">
			<button name="" id="" class="btn btn-success radius" type="submit"><i class="Hui-iconfont"></i> 搜索</button>
		</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray"> 
		<span class="l"> 
			<input class="btn btn-link radius" onclick="queryType('Tomorrow');" type="button" value="明天">/
			<input class="btn btn-link radius" onclick="queryType('Today');" type="button" value="今天">/
			<input class="btn btn-link radius" onclick="queryType('Yesterday');" type="button" value="昨天">/
			<input class="btn btn-link radius" onclick="queryType('Week');" type="button" value="本周">/
			<input class="btn btn-link radius" onclick="queryType('Last7Days');" type="button" value="近七天">/
			<input class="btn btn-link radius" onclick="queryType('LastWeek');" type="button" value="上周">/
			<input class="btn btn-link radius" onclick="queryType('Month');" type="button" value="本月">/
			<input class="btn btn-link radius" onclick="queryType('LastMonth');" type="button" value="上月">
		</span>

		</div
		<div >
			<div  class="dataTables_wrapper no-footer">
				<table class="table table-border table-bordered table-hover table-bg table-sort dataTable no-footer" role="grid" >
					<thead >
						<tr class="text-c">
							<th>卡号</th>
							<th>姓名</th> 
							<th>通用(<b class='color2'>充值</b>/<b class='color1'>消费</b>)</th>
							<th>门诊(<b class='color2'>充值</b>/<b class='color1'>消费</b>)</th> 
							<th>住院(<b class='color2'>充值</b>/<b class='color1'>消费</b>)</th> 
							<th>总消(<b class='color2'>充值</b>/<b class='color1'>消费</b>)</th> 
						</tr>
					</thead>
					<tbody>
						{volist name='pageInfo' id='item'}  
						<tr class="text-c odd" role="row"> 
							<td>{$item.card_no}</td>
							<td>{$item.name}</td> 
							<td><label class="color2">{$item.cmoney|def='0.00'}</label>/<label class="color1">{$item.xmoney|def='0.00'}</label></td>

							<td><label class="color2">{$item.cmz|def='0.00'}</label>/<label class="color1">{$item.xmz|def='0.00'}</label></td>

							<td><label class="color2">{$item.czy|def='0.00'}</label>/<label class="color1">{$item.xzy|def='0.00'}</label></td>

							<td><label class="color2">{$item['cmoney']+$item['cmz']+$item['czy']}</label>/<label class="color1">{$item['xmoney']+$item['xmz']+$item['xzy']}</label></td>
						</tr>
						{/volist}
					</tbody>
				</table>

			</div>
		</div>
		{$pageInfo->render()} 
		{/block}
		{block name="js"}
		{js href='__STATIC__H-ui/lib/My97DatePicker/WdatePicker.js'/}
		<script type="text/javascript">
 
			$('#txt_search_kw').val('{:input('get.kw')}');
			function queryType(dt) { 
				set_query_date(dt);
				$('form').submit();
			} 
			function set_query_date(dt) {
				var func='';
				switch(dt){
					case 'Today':
					func=locData.getToday;
					break;
					case 'Yesterday':
					func=locData.getYesterday;
					break;
					case 'Week':
					func=locData.getWeek;
					break;
					case 'LastWeek':
					func=locData.getLastWeek;
					break;
					case 'Last7Days':
					func=locData.getLast7Days;
					break;
					case 'Month':
					func=locData.getMonth;
					break;
					case 'LastMonth':
					func=locData.getLastMonth;
					break;
					case 'Year':
					func=locData.getYear;
					break;
					case 'Tomorrow':
					func=locData.getTomorrow;
					break;
				}
				func(function (sdate,edate) {
					$('#txt_search_datemin').val(sdate);
					$('#txt_search_datemax').val(edate);
				});
			}
			$('#txt_search_datemin').val('{:input('get.sdate')}');
			$('#txt_search_datemax').val('{:input('get.edate')}');
		</script>
		{/block}